[submodule "Boost-for-Android"]
	path = Boost-for-Android
	url = https://github.com/moritz-wundke/Boost-for-Android
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb
[submodule "marisa-trie"]
	path = marisa-trie
	url = https://github.com/s-yata/marisa-trie
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "Lua"]
	path = Lua
	url = https://github.com/walterschell/Lua
[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy
